# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project
.eclipse/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Visual Studio Code
.vscode/

# Gradle
.gradle/
build/
app/build/

# Log Files
*.log

# Other
Thumbs.db
.DS_Store
run/
runs/
run-data/