# Gradle
.gradle/
build/
out/
gradle.properties

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
*.krt
*.kotlinc

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
logs/
*.log
crash-reports/
debug.log
debug.log.gz
latest.log

# Run directories
run/
runs/
run-client/
run-server/
run-data/
run-gametest/

# User specific
authlib/
usercache.json
usernamecache.json